input {
  font-family:Arial, sans-serif;
}

.form-input-address {
  border: 0;
  padding: 2px;
  font-size: 1.0em;
  color: #aaa;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 300px;
}

.form-address {
  border: 0;
  padding: 2px;
  font-size: 1.0em;
  color: #333;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 380px;
}

/* className .container is used by semantic-ui-react */ 

.container {
  background-color: #ccc;
  padding: 10px;
  margin: 10px;
}

.header-top {
  background-color: #ccc;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-base {
  background-color: #ccc;
  width: 100vw;
  height: 40px;
}

.container-base {
  background-color: white;
  box-shadow: 0.5px 0px 4px 0px rgba(0, 0, 0, 0.5);
  padding: 24px;
}

.content-horizontal {
  display: flex;
  flex-direction: row;
}